body {
    font-family: 'Open Sans', sans-serif;
}

.paper-tab {
    color: #000;
}
.distribution_bar {
    width: 100%;
    height: 20px;
}

.distribution_bar > div {
    display: inline-block;
}

.distribution_bar_closed {
    background-color: #90CAF9;
}

.distribution_bar_assigned {
    background-color: #BBDEFB;
}

.distribution_bar_unassigned {
    background-color: #E3F2FD;
}

.button_label {
    cursor: pointer;
}

@font-face {
    font-family: 'Vaadin-Icons';
    src: url('/fonts/Vaadin-Icons.eot');
    src: url('/fonts/Vaadin-Icons.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Vaadin-Icons.woff') format('woff'),
    url('/fonts/Vaadin-Icons.ttf') format('truetype'),
    url('/fonts/Vaadin-Icons.svg#icomoon') format('svg');
}

.icon {
    font-family: Vaadin-Icons;
    font-size: 16px;
    speak: none;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.priority_5 {
    color:rgba(255, 0, 0, 0);
    background-color: #42A5F5;
    margin-right: 2px;
 }
.priority_4 {
    color:rgba(255, 0, 0, 0);
    background-color:#64B5F6;
    margin-right: 2px;
}
.priority_3 {
    color:rgba(255, 0, 0, 0);
    background-color:#90CAF9;
    margin-right: 2px;
}
.priority_2 {
    color:rgba(255, 0, 0, 0);
    background-color:#BBDEFB;
    margin-right: 2px;
}
.priority_1 {
    color:rgba(255, 0, 0, 0);
    background-color:#E3F2FD;
    margin-right: 2px;
}

paper-button.update {
    background: #4CAF50;
}

paper-button.discard {
    background: #FF5252;
}

paper-radio-group.status-dialog {
    z-index: 99999999;
    position: absolute;
    background: white;
    margin-left: 64px;
    margin-top: 54px;
    border: 1px solid;
    border-color: black;
}

.closed {
    display: none;
}

.tab-filter-text {
    font-weight: bold;
}

.tab-filter {
    padding: 5px;
}

.search_row_label {
    padding: 16px 0;
}

@media (min-width: 600px) {
    #project_select_dropdown {
        min-width: 500px;
    }
}


@media (max-width: 600px) {
    #project_select_dropdown {
        min-width: 0px;
    }
}

@media (max-width: 520px) {
    .hide_mobile {
        display: none !important;
    }
    paper-radio-group.status-dialog {
        margin-left: 0px;
    }
}
@media (min-width: 520px) {
    .hide_desktop {
        display: none !important;
    }
}


#report_edit_container {
    width: 100%;
    background: white;
    height: 100%;
    bottom: 0;
    overflow: visible;
    position:fixed;
    z-index: 99999998;
}
#handle {
    width: 100%;
    height: 8px;
    /*top: -6px;*/
    background-color: #1976D2;
    z-index: 99999999;
    cursor: n-resize;
    -moz-box-shadow:    inset 0 0 10px #E3F2FD;
    -webkit-box-shadow: inset 0 0 10px #E3F2FD;
    box-shadow:         inset 0 0 10px #E3F2FD;
}

.project_select_dropdown .paper-input  {
    color: #ffffff !important;
}

.secondary-blue  .paper-input, .secondary-blue  iron-label {
    color: #000 !important;
}

.white {
    color: #fff;
}